<div class="container text-light font-weight-bold mt-5 pt-5">
    <h1 class="d-flex justify-content-center align-middle display-3"> Sorry! You are suspended x(</h1><br>
    <p class="d-flex justify-content-center align-middle h4">Please contact to Admin for recover your permissions</p>
</div>