<h1>Bienvenido a tuiter </h1>
<% if user_signed_in? %>
    <%= link_to 'New tweet', new_user_tweet_path(current_user)  %>
<% end %>
    <h2>aqui van las vistas a todos los tweets</h2>
    <h2>esta vista reemplazarla por el index del tweet. Agregar ,only: [todas menos index anidada] y crear la ruta rooth_path</h2>
