/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= stub active_admin
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
    background-color: black;
    }

.img_follows {
    height: 3em;
    width: 3em;
}

.center {
    align-items: baseline;
}

.img-profile-logged {
    width: 100%;
    height: 100%;
    border-top-left-radius: 48%;
    border-bottom-left-radius: 48%;
}

.img-profile-unlogged {
    width: 100%;
    height: 100%;
    border-top-left-radius: 48%;
    border-bottom-left-radius: 48%;
}

.padding-like {
    padding-right: 4em;
}

.container-welcome {
    padding: 0 5em;
}